section{
    border: solid 1px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
article{
    border: solid 1px;
    background-color: lightblue;
    padding: 25px 50px 75px 100px;
}